body {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/163/565/original/pastel-purple-tablecloth-pattern-design-free-vector.jpg?1745102324);
  font-family: "Jura", sans-serif;
  background-repeat: repeat-x;
}

.container {
  background-color: rgb(255, 255, 255);
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  padding: 50px;
  border-radius: 5px;
  max-width: 60%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

h1 {
  text-align: center;
  margin-bottom: 60px;
}

h1,
h2 {
  font-weight: bolder;
}

select {
  padding: 10px;
  width: 100%;
  background-color: #dfbcda;
  border: none;
  border-radius: 5px;
  font-family: "Jura", sans-serif;
  font-weight: bold;
}

.city {
  display: flex;
  padding: 10px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}

.city:last-child {
  border-bottom: none;
}

.city-date {
  max-width: 30%;
}

h2 {
  margin: 0 0 5px;
  font-size: 26px;
}

.time {
  font-size: 40px;
  max-width: 45%;
}

.back {
  font-size: 12px;
}

footer {
  font-size: 12px;
  text-align: center;
}

a {
  color: #b28dc0;
  font-weight: bolder;
}
